
.crypto-animation {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  animation: slide 20s linear infinite;
}

.crypto-animation img {
  width: 60px;
}

@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
